extends skeleton.pug

block title
  title #{poll.title} - Voting-app!
block content
  .jumbotron
    input#pollId(hidden, value=poll._id)
    .row
      .col-md-4
        h3 #{poll.title}
        form

          .form-group
            label(for='options') I'd like to vote for...:
            select#selectPollOptions.form-control(name='options', tabindex='1', autofocus, required)
              each o in poll.options
                if o.state == "active"
                  option(value=o._id) #{o.displayName}
              if (user)
                option(value='add') -- Add Other --

          .form-group#groupCustomOption(style="display:None")
            label(for='customOption') My vote is:
            input.form-control(type="text", name='customOption', tabindex='1', autofocus)
          button#btnVote.btn.btn-primary.btn-block(type='submit', tabindex='2')
            span.glyphicon.glyphicon-send
            |  Vote
        br
        a#anchorShareTwitter.btn.btn-info.btn-block(tabindex='3', target="_blank")
          span.fa.fa-twitter
          |  Share

      .col-md-8
        canvas#myChart(width="600", height="300")
        br
        if user && user._id.equals(poll.author._id)
          button#btnPollRemove.btn.btn-block.btn-danger
            span.glyphicon.glyphicon-remove
            |  Remove poll

block append js
  script(src='/public/js/Chart.js')
  script(src='/common/myChart.js')
  script(src='/controllers/poll.client.js')
